/* FONT FACE*/
@font-face {
    font-family: 'necto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Necto-Mono.woff2) format('woff2');
}

@font-face {
    font-family: 'texte';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Avenir\ Book.ttf);
}
@font-face {
    font-family: 'textebold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Avenir\ Heavy.ttf);
}


a{
    text-decoration: none;
    color: currentColor;
}

video,
img{
    display: block;
    max-width: 100%;
    height:auto;
}

.imgphoto{
    max-width: 100%;
}

.imgreseau{
    display: block;
    height:auto;
    float: left;
    padding: 5px;
}
/*texte*/

.strong{
    font-family: 'textebold';

}


body{
    font-family: sans-serif;
    cursor: url('img/LOGOFLO.svg'), auto;
}

.texte-projet{
    font-family: 'texte';
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0px;
}

.texte-courant{
    font-family: 'texte';
    font-size: 12px;
    padding: 0px;
}

.sous-titre{
    font-family: 'textebold';
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;

}

.hr{
    margin-top: 0;
    margin-bottom: 0;

}

.nom{
    font-family: 'necto';
    font-size: 30px;

}

.categoriemoi{
    font-family: 'necto';
    font-size: 15px;
    text-align:start;
}

.pdf{
    font-family: 'necto';
    font-size: 15px;
    text-align:end;
}

.sous-titre-contact{
    font-family: 'necto';
    font-size: 20px;
}

/*HEADER PRINCIPAL*/

.header{
    display: grid;
    grid-template-columns:2fr auto auto;
    gap: 24px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.header a{
    text-decoration: none;
    color: currentColor;
    font-family: 'necto';
    font-size: 25px;
}

/* SOMMAIRE MENU PAGE PRINCIPAL */
.titreprojects a{ 
    text-decoration: none;
    color: currentColor;
    font-family: 'necto';
    font-size: 100px;
    margin-left: 100px;

}

/*icones header principal*/
.menu{   
    height: 40px;
    width: 40px;
}

/* PAGE PROJET*/
.projet-titre{
    margin-left: 100px;
    margin-right: 100px;
}

.projet-titre .p1{
    font-family: 'necto';
    font-size: 60px;
    line-height: 1px;
    margin-bottom: 40px;
}
.projet-titre .p2{
    font-family: 'necto';
    font-size: 15px;
    margin-bottom: 50px;
}

.fleche .p1{
    font-family: 'necto';
    font-size: 50px;
    margin-right: 100px;
    text-align: right;
}

/*GRID PROJET*/

.grid{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:25px;
}

.minigrid{
    grid-template-rows:repeat(2, 250) ;
    display: grid;
    gap:25px;
}

/*GRID INFOS*/

.grid-c4{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:25px;

}


.grid-c4p{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    align-items: start;

}

.grid-c3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;

}

.grid-c2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:25px;

}

.grid-accueil{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:25px;

}


/* pour les colonnes span*/

.span-4{
    grid-column: span 4;
}

.span-3{
    grid-column: span 3;
}

.span-2{
    grid-column: span 2;
}

.span-1{
    grid-column: span 1;
}





/* EFFETS SITE */

.header a {
    display: inline-block;
    transition: all 350ms ease-out;
    
}

header a:hover{
    color: #010101;
    transform: translate(0,-5px)
}

.gridsommaire{
    display:grid;
}

.item{
    font-family: 'necto';
    font-size: 7.5vw;
    padding:-1vw;
    margin-left: 3vw;
    margin-right: 3vw;
    border-bottom:2px solid #000;
    background:rgb(255, 255, 255);
    z-index:1;
    background: rgba(255, 255, 255, 0.838);
    transition:0.5s;
    size: 1vw;
  }

.test{
    background: none;
}
  
.item.no-fx:hover{
      background: rgba(255, 255, 255, 0.971);
  }
  
.item span{
    display:inline-block;
    transform:translate(0,4vw);
    transition:0.3s;
  }
  
.item:hover{
    background: #fff;
  }

  .item:hover span{
    transform:none;
  }

.img-fx{
transition: 1s;
filter: grayscale(1);
}

img:hover .img-fx{
/* opacity:0.2; */
filter:none;
}

.header .a-fx{
display: grid;
}


.header .a-fx img{
grid-column: 1/-1;
grid-row:  1/-1;
transition: 0.7s;
}


.header .a-fx:hover img.img-preview{
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .grid-c4{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 120px;
        display: grid;
        grid-template-columns: 1fr;
        gap:25px;
    
    }
    .span-2-mobile{
        grid-column: span 2;
    }
    .grid-c4p{
        display: grid;
        grid-template-columns: 3fr;
        gap:10px;
        align-items: start;
    
    }

    .imgphoto{
        max-width: 100%;
    }

    

}